* {
  box-sizing: border-box;
}

:root {
  --grey: #999999;
  --primary: #660000;
  --white: #ccffff;
}

header,
footer {
  background-color: var(--primary);
  color: var(--white);
  padding: 1em;
  text-align: center;
}

header nav ul {
  list-style-type: none;
  padding-left: none;
  display: inline-flex;
  gap: 1em;
}

header nav ul li {
  padding: 0.6em;
  background-color: var(--white);
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

.pad {
  padding: 0.2em 1em;
}

img,
video {
  max-width: 100%;
  height: auto;
}

.flexed {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flexed.gallery {
  gap: 1em;
  margin: auto;
  border: 1px solid grey;
  border-radius: 10px;
  justify-content: center;
}

figure {
  border: 1px solid var(--grey);
  border-radius: 5px;
  padding: 1em;
}

figure figcaption {
  text-align: center;
}

figure img {
  border-radius: 5px;
}


.clear {
  clear: both;
}

.paragraph {
  margin: 1em auto;
  max-width: 750px;
}

@media screen and (min-width: 1024px) {

  .floatleft {
    float: left;
  }

  .floatright {
    float: right;
  }
}
