---
layout: page
title: Amy Alley
---
<div>
  AMY
</div>


<div id="projects-list">
  {% for project in site.amy %}
  <div class="flexed">
    <div id="#{{ project.name | slugize }}"></div>
    <h3 class="post-list-heading line-bottom">
      <a href="{{ project.url }}">{{ project.title }}</a>
    </h3>
    {{ project.content | markdownify }}
    <div class="flexed">
      {% assign project_category = project.categories | first %}
      {% for post in site.posts %}
      {% if post.categories contains project_category %}
      <p>
        {% include post_preview.html post=post %}
      </p>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
